*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}
input{
    margin-bottom: 5px;
    padding: 5px;
    font-size: 23px;
    width: 230px;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    text-align: right;
    border: 2px solid rgb(29, 29, 29);
    color: white;
}
button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid rgb(25, 25, 25);
    margin-bottom: 5px;
    background: transparent;
    font-size: 20px;
    color: aqua;
}
